/* .to-right{
  float: right;
}
.to-bottom{
  position: absolute;
  bottom: 0px;
}
.header{
  height: 100%;
  width: 100%;
}
.is-circle{
  border-radius: 50%;
}
.header{
background: linear-gradient(rgb(7,207,255) 0%,rgb(245,16,170) 100%);
}
.is-shadowed{
  box-shadow: 0px 5px 20px rgba(200,200,200,.2);
}  */

a{
  text-decoration: none;
  color: #fff;
}

body{
    background: url('../img/texture.png');
    padding: 0;
    margin: 0;
}
.header{
    padding: 1rem 10%;
    max-width: 1000px;
    position: relative;
    margin: 0 auto;
}

#header{
  width: 100%;
  background: #000;
  padding:20px 0;
  transform:skewY(-2.5deg);
  transform-origin: left;
  height: 500px;
}
.skew{
  transform:skewY(2.5deg);
  transform-origin: left;
}
.main-nav {
    padding: 5px 0;
    margin: 0;
    float: right;
}
.main-nav li {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 3px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    padding: 10px;

}
.main-nav li a{
    color: #fff;
}

.hr{
border: 0;
position: relative;
height: 1px;
width: 80%;
margin: 0px auto;
background-image: linear-gradient(to right, rgba(150, 150, 150, 0), rgba(0, 0, 0, .75), rgba(150, 150, 150, 0));
}

.hrw{
border: 0;
position: relative;
height: 2px;
width: 80%;
margin: 0px auto;
background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(205, 205, 250, 1), rgba(0,0,0, 0));
}

.columns{
  padding: 0px 10%;
}

@media (max-width : 768px)
 {
  .main-nav li{
      font-size:12px;
      padding-left:4px;
      padding-right:4px;
    }
    .header{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .main-nav,.nav-brand{
      align-self: center;
    }
    .columns{
      padding:0 5px;
    }
}
